[user]
	name = Shuya Tsukamoto
	email = shuya.tsukamoto@gmail.com
[core]
	excludesfile = /Users/tsukaby/.gitignore_global
	precomposeunicode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/tsukaby/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	ff = false
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
