[user]
	name = Shuya Tsukamoto
	email = shuya.tsukamoto@gmail.com
[core]
	excludesfile = /Users/tsukaby/.gitignore_global
	precomposeunicode = true
[merge]
	ff = false
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[gitbutler]
	aiModelProvider = anthropic
